*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Open Sans", sans-serif;
}

html{
    font-size: 62.5%;
}

.nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2.8rem 6.4rem;
}

.navbar-logo{
    display: flex;
    align-items: center;
    gap: 1.8rem;
}


.menu-list{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 2.6rem;
}

.menu-list a{
    text-decoration: none;
    color: #000;
    font-size: 1.6rem;
    font-weight: 200;
    /* border-right: 1px solid black; */
    padding: 4.2rem;
    transition: all 0.3s;
}

.menu-list a:hover{
    background-color: #ee5057;
    color: #fff;
}


.level-header{
    font-size: 3.2rem;
    font-weight: 600;
}   

.section-1{
    background-image: url(img/bg-img-1.jpg);
    height: 60vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.user-information{
    text-align: center; 
    display: grid;  
    grid-template-columns: repeat(3,1fr);
    justify-content: center;
    padding: 0 22.4rem;
    padding-top: 12%;
}

.input-groupe,  
.option-tag{
    background-color: #ffffff;
    padding:1.6rem;
}

.user-information input{
    border: none;
    height: 4vh;
    width: 100%;
    outline: none;
    /* margin-top: 50%;*/
    border: 1px solid #d4cece;
}

.user-information input:focus{
    border: 1px solid #ee5057;
}

.selection{
    text-align: center;
    height: 5vh;
    width:100%;
}

.user-information input[type="text"]{    
    padding: 2.4rem;
    font-size: 1.2rem;
    padding-left: 5.8rem;
}

.option-tag{
    display: flex;
    gap: 1.8rem;
}

.selection{
    outline: none;
    border: 1px solid #d4cece;
}

.selection:focus{
    border: 1px solid #ee5057;
}

input:focus{
    border-color: #ee5057;
}

.btn{
    color: #fff;
    text-decoration: none;
    background-color:#ee5057;
    padding: 0.5rem 3.4rem;
    border-radius: 0;
    font-weight: 600;
    transition: all 0.3s;
}

.btn:hover{
    background-color: #aa363c;
    color: #fff;
}

.input-icon-1{
    position: absolute;
    height: 2.8rem;
    width: 3.4rem;
    color: #ee5057;
}
.input-icon-2{
    position: absolute;
    height: 2.8rem;
    width: 3.4rem;
    color: #ee5057;
}
.input-icon-3{
    position: absolute;
    height: 2.8rem;
    width: 3.4rem;
    color: #ee5057;
}

label{
    position: relative;
    top: 25%;
    right:45%;
}

.option-icon{
    position: relative;
    height: 2.2rem;
    width: 2.4rem;
    color: #ee5057;
}

.label-1{
    position: absolute;
    top: 50%;
    right:80%;
}


.label-2{
    position: absolute;
    top: 50%;
    right:57%;

}
.label-3{
    position: absolute;
    top: 50%;
    right:35%;
}

.help-center{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.link{
    margin-top: 1.2rem;
    text-decoration: none;
    padding-left: 2.4rem;
    font-size: 1.2rem;
    color: #ee5057;
    font-weight: 600;
}

.section-2{
    text-align: center;
    background-color: #ee5057;
    padding: 4.6rem;
}


.text-head{
    font-size: 4.4rem;
    color: #ffffff;
    line-height: 1.8;
}

.sub-head{
    font-size: 1.8rem;
    font-weight: 300;
    color: #fff;
}

.btn-2{
    background: #ee5057;
    color: #fff;
    border-color: #fff;
    padding: 1.6rem 2.8rem;
    font-size: 1.4rem;
    transition: all 0.3s;
    margin-top: 1.6rem;
}

.btn-2:hover{
    background-color: #fff;
    color: #ee5057;
}

.container-2{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12.4rem 12.2rem;
    text-align: center;
}

.testimonial-head{
    font-size: 2rem;
    color: #ee5057;
    margin-bottom: 2.4rem;
    font-weight: 600;
}

.testimonial-text{
    font-size: 1.2rem;
    line-height: 1.8;
    color: #a19a9a;
}

.testimonial-link{
    text-decoration: none;
    font-size: 1.4rem;
    color: #ee5057;
    font-weight: 600;
}

.testimonial-icon{
    color: #ee5057;
    height:9.4rem;
    width: 8.4rem;
    margin-bottom: 2.4rem;
}

.testimonial-1{
    transition: all 0.3s;
    padding:3.6rem 6.4rem;
}

.testimonial-1:hover{
    background-color:#fff;
    transform: translateY(-1.2rem);
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.2);
}
.testimonial-2{
    transition: all 0.3s;
    padding:3.6rem 6.4rem;
}

.testimonial-2:hover{
    background-color:#fff;
    transform: translateY(-1.2rem);
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.2);
}
.testimonial-3{
    transition: all 0.3s;
    padding:3.6rem 6.4rem;
}

.testimonial-3:hover{
    background-color:#fff;
    transform: scale(1.1);
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.2);
}

.section-4{
    background-color: #fbf9f9;
}

.container-3{
    display: flex;
    justify-content: center;
    gap: 2.4rem;
}

.figure-container{
    background-color: #fff;
    margin-top: 6.4rem;
    padding-bottom: 1.8rem;
}

.figure-container,
 p{
   line-height: 2;
   font-size: 1.4rem;
}

.figure-container h5{
    margin-top: 2.4rem;
}
.description{
    padding-left: 2.4rem;
}

.btn-3{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #fff;
    background-color: #ee5057;
    padding:1.2rem 2.2rem;
    margin-left: 6.4rem;
    margin-right: 6.4rem;
    font-size: 1.2rem;
    transition: all 0.3s;
}

.btn-3:hover{
    background-color: #dd4149;
}