*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Open Sans", sans-serif;
}

.nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2.8rem 10.4rem;
}

html{
    font-size: 62.5%;
}

.img{
    display: flex;
    align-items: center;
    gap: 1.8rem;
}

.menu-list{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 2.6rem;
}

.menu-list a{
    text-decoration: none;
    color: #000;
    font-size: 1.6rem;
    font-weight: 200;
    /* border-right: 1px solid black; */
    padding: 4.2rem;
    transition: all 0.3s;
}

.menu-list a:hover{
    background-color: #e95050;
    color: #fff;
    
}


.level-header{
    font-size: 2.8rem;
}   

.section-1{
    background-image: url(img/bg-img-1.jpg);
    width: 100vw;
    height: 50vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.user-information{
    text-align: center;
    padding-top: 15%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1.8rem;
    padding: 0 22.4rem; 
}

.user-information input{
    border: none;
    height: 5vh;
    width: 100%;
    margin-top: 40%;
}

.selection{
    text-align: center;
    height: 5vh;
}